<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>GoResto Apps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#857c66" />
  <link rel="apple-touch-icon" href="/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"
    crossorigin="anonymous">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
  <a href="#resto-list" class="skip-link">Skip To Content</a>
  <header>
    <div class="container">
      <nav>
        <div>
          <h1><a tabindex="0" href="#/">GoResto Apps</a></h1>
        </div>
        <button tabindex="0" id="btn-burger" class="btn-burger" aria-label="action burger button">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </button>
        <ul id="nav-drawer">
          <li><a tabindex="0" href="#/">Home</a></li>
          <li><a tabindex="0" href="#/list-resto">Resto</a></li>
          <li><a tabindex="0" href="#/favorite">Favorite</a></li>
          <li><a tabindex="0" href="https://github.com/ihsandev" target="_blank" rel="noopener">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="main-content">
  </main>
  <footer>
    <div class="container">
      copyright &COPY; 2021 - GoResto Apps - by Ihsan
    </div>
  </footer>
</body>

</html>